name: build

on: [push]

jobs:
  citest:
    runs-on: ubuntu-latest
    steps:
    # Free GitHub Actions Environment Disk Space
    - name: Maximize Build Space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc
    - name: checkout
      uses: actions/checkout@v6
    # Validate wrapper
    - name: Gradle Wrapper Validation
      uses: gradle/wrapper-validation-action@v3
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: corretto
        java-version: 17
    - name: build
      run: ./gradlew check --stacktrace --info
    - uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Collect Tests Result
      if: ${{ failure() }}
      uses: actions/upload-artifact@v6
      with:
        name: tests-result
        path: ${{ github.workspace }}/build/reports/tests
